<p-table #dt [value]="values()" [loading]="loading()" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['label', 'value', 'description']" responsiveLayout="scroll"
    styleClass="p-datatable-sm p-datatable-striped">

    <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
            <h5 class="m-0">Master Values</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search values..." />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="label">Label <p-sortIcon field="label"></p-sortIcon></th>
            <th pSortableColumn="value">Value <p-sortIcon field="value"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="isPublished">Status <p-sortIcon field="isPublished"></p-sortIcon></th>
            <th pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
            <th style="width: 120px; text-align: center">Actions</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
        <tr>
            <td>
                <i *ngIf="item.metadata?.icon" [class]="item.metadata.icon" class="mr-2"></i>
                {{ item.label }}
            </td>
            <td><code>{{ item.value }}</code></td>
            <td>{{ item.description || '-' }}</td>
            <td>
                <p-tag [severity]="item.isPublished ? 'success' : 'warn'"
                    [value]="item.isPublished ? 'Published' : 'Draft'">
                </p-tag>
            </td>
            <td>{{ item.createdAt | date:'mediumDate' }}</td>
            <td style="text-align: center">
                <button pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button-sm p-button-info mr-2" (click)="onEdit.emit(item)"
                    pTooltip="Edit">
                </button>
                <button pButton pRipple icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-sm p-button-danger" (click)="onDelete.emit(item)"
                    pTooltip="Delete" [disabled]="item.isSystem">
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6" class="text-center p-4">No values found for this master.</td>
        </tr>
    </ng-template>
</p-table>