<div class="layout-root container"
     [class.is-mobile]="layout.isMobile()"
     [class.is-pinned]="layout.isPinned() && !layout.isMobile()">

  <app-mainscreen-header (toggleSidebar)="onMenuToggle()"></app-mainscreen-header>

  <app-mainscreen-sidebar></app-mainscreen-sidebar>

  <div class="layout-body ">
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>

  @if (layout.isMobile() && layout.isMobileMenuOpen()) {
    <div class="mobile-backdrop" (click)="layout.closeMobile()"></div>
  }
</div>
<p-toast position="top-right"></p-toast>
