
@use 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import 'primeicons/primeicons.css';
// @import 'leaflet/dist/leaflet.css;

@import 'leaflet/dist/leaflet.css';

/* In styles.scss */
:root {
  --p-comp-height: 2rem;   
  
  /* Update padding to match the Preset */
  --p-comp-padding-y: 0.3rem; 
}
